body{
    font-family:Arial,sans-serif;
}
.hero{
    height: 70vh;
    background: linear-gradient(to right,#007bff,#00c6ff);
    color: white;
}
.hero h1{
    font-size:3rem;
}
.card{
    border-radius: 3rem;
}
@media(max-width:768px){
    .hero h1{
        font-size: 2rem;
    }
}